body {
    background-color: darkslategray;
    color: blanchedalmond;
    text-align: center;
}

#h1 {
    text-decoration: underline;
    border: 5px solid black;
    padding: 25px;
    font-size: 72px;
    margin: 0px;
    background-image: linear-gradient(darkslategray, black);
}

#container {
    background-image: linear-gradient(darkslategray, black);
    background-blend-mode: darken;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
}

#intro {
    font-size: 36px;
}

#startBtn {
    background-color: black;
    color: beige;
    width: 450px;
    height: 150px;
    font-size: 42px;
    
}

#startBtn:hover {
    cursor:grab;
    background-color: cadetblue;
    color: black;
}

#ansBtn {
    background-color: beige;
    color:black; 
    width: 450px;
    height: 150px;
    font-size: 42px;
    top:50px;
}

#ansBtn:hover {
    cursor:grab;
    background-color: cadetblue;
    color: black;
}

#ulQstn {
    flex-direction: column;
}

#h3 {
    border: 5px double black;
    border-radius: 10px;
    color:beige;
    margin-right: 500px;
    margin-left: 500px;
    padding: 0px;
    background-image: linear-gradient(darkslategray, black);
}

#timeLeft {
    background-image: radial-gradient(red, orange);
    margin-left: 600px;
    margin-right: 600px;
    color:black;
    font-weight: bolder;
    border-radius: 10px;
}

#initials {
    background-image: linear-gradient(darkslategray, black);
    color: antiquewhite;
    margin-left: 500px;
    margin-right: 500px;
    font-size: 24px;
}

#initialEntry {
    box-shadow: 10px, 10px darkslategray;
}
